*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
}

:root {
	--background-color: #555;
}

html {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* styling + positioning case */
section:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-of-type(1) div:nth-of-type(1) {
	background-color: red;
	width: 500px;
	height: 300px;
	border-radius: 10px;
	box-shadow: 10px 10px 14px black;
}

section:nth-of-type(1) div:nth-of-type(2) {
	background-color: rgb(55, 54, 54);
	width: 480px;
	height: 300px;
	position: absolute;
	top: 68px;
}

input {
	visibility: hidden;
}

/* styling + positioning power button */
section:nth-of-type(2) div:nth-of-type(1) {
	width: 30px;
	height: 10px;
	background: #555;
	position: absolute;
	top: -185px;
	border-radius: 3px;
}

section:nth-of-type(2) div:nth-of-type(1) p {
	color: red;
	font-size: 10px;
	position: absolute;
	top: 5px;
	text-align: center;
}

section:nth-of-type(2) div:nth-of-type(1) label {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;
	background: #ccc;
}

section:nth-of-type(2) div:nth-of-type(1) input[type=checkbox]:checked+label {
	left: 15px;
}

body:has(section:nth-of-type(2) div:nth-of-type(1) input[type=checkbox]:checked+label) section:nth-of-type(4) div:nth-of-type(2) {
	background-color: red;
}

/* styling + positioning keys */
section:nth-of-type(3) {
	display: flex;
	position: absolute;
	top: 220px;
}

section:nth-of-type(3) label {
	display: block;
	background: linear-gradient(to bottom, #eee 0%, #fff 100%);
	width: 40px;
	height: 150px;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-radius: 0 0 5px 5px;
	/* box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2); */
}

section:nth-of-type(3) label:has(input[type=checkbox]:checked) {
	background: red;
}

/* styling + positioning display */
section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section:nth-of-type(4) div:nth-of-type(1) {
	margin: 10px;
	height: 200px;
	width: 400px;
	background-color: black;
}

section:nth-of-type(4) div:nth-of-type(2) {
	position: absolute;
	margin: 10px;
	height: 175px;
	width: 350px;
	background-color: #555;
}

