*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
}

/* root variables for styling */
:root {
	--main-color: linear-gradient(to right, #282728 0%, #2E2B2C 100%);
	--accent-color-red: #BA0010;
	--shadow-color: #000;
	--bg-color-1: black;
    --bg-color-2: blue;
    --bg-color-3: yellow;
    --bg-color-4: green;
    --bg-color-5: red;
    --bg-color-6: purple;
    --bg-color-7: orange;
    --bg-color-8: pink;
    --bg-color-9: brown;
    --bg-color-10: grey;
}

html {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* centering everything in the middle :) */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* makes labels seem clickable */
label {
	cursor: pointer;
}

/* hides checkbox */
input {
	visibility: hidden;
}

/* styling + positioning case */
section:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-of-type(1) div:nth-of-type(1) {
	background-color: var(--accent-color-red);
	width: 640px;
	height: 330px;
	border-radius: 10px;
	box-shadow: 10px 10px 14px var(--shadow-color);
}

section:nth-of-type(1) div:nth-of-type(2) {
	background: linear-gradient(to right, #282728 0%, #2E2B2C 100%);
	width: 620px;
	height: 320px;
	position: absolute;
	border-radius: 10px;
	top: 75px;
}


/* styling + positioning power button */
section:nth-of-type(2) div:nth-of-type(1) {
	width: 55px;
	height: 29px;
	background: #555;
	position: absolute;
	top: -270px;
	left: -290px;
	border-radius: 3px;
}

section:nth-of-type(2) div:nth-of-type(1) p {
	color: var(--accent-color-red);
	font-size: 10px;
	position: absolute;
	top: -2px;
	left: 7px;
	text-align: center;
	z-index: 100;
}

section:nth-of-type(2) div:nth-of-type(1) label {
	display: block;
	width: 50px;
	height: 25px;
	BORDER-RADIUS: 3px;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	left: 2px;
	background: linear-gradient(to right, #282728 0%, #2E2B2C 100%);
}

/* power button animation thing */
body:has([aria-label="power"] input:checked+label) section:nth-of-type(2) div:nth-of-type(1) {
	animation: powerFlash 2s ease-in-out infinite;
}

@keyframes powerFlash {
	0% {
		background-color: var(--accent-color-red);
	}

	100% {
		background-color: #555;
	}
}

/* power button turning display on animation thing */
body:has([aria-label="power"] input:checked+label) section:nth-of-type(4) div:nth-of-type(2) {
	background: rgba(107, 115, 145, 0.797);
	animation: powerON 0.5s ease-in-out;
}


@keyframes powerON {
	0% {
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8) inset, 0 12px 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
	}
	
	100% {
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8) inset, 0 12px 5px #00000063 inset, 0 0 3px rgba(0, 0, 0, 0.2);
	}
}

body:has([aria-label="power"] input:checked+label) {
	animation: powered 5s infinite;
}

@keyframes powered {
    0%, 9% {
        background-color: var(--bg-color-1);
    }
    10%, 19% {
        background-color: var(--bg-color-2);
    }
    20%, 29% {
        background-color: var(--bg-color-2);
    }
    30%, 39% {
        background-color: var(--bg-color-3);
    }
    40%, 49% {
        background-color: var(--bg-color-4);
    }
    50%, 59% {
        background-color: var(--bg-color-5);
    }
    60%, 69% {
        background-color: var(--bg-color-6);
    }
    70%, 79% {
        background-color: var(--bg-color-7);
    }
    80%, 89% {
        background-color: var(--bg-color-8);
    }
    90%, 100% {
        background-color: var(--bg-color-9);
    }
}


/* power button + key */
body:has([aria-label="power"] input:checked):has([aria-label="keys"] input:checked) section:nth-of-type(5) {
	display: flex;
}

/* styling + positioning piano keys */
section:nth-of-type(3) {
	display: flex;
	position: absolute;
	top: 248px;
}

section:nth-of-type(3) label {
	display: block;
	background: linear-gradient(to bottom, #eee 0%, #fff 100%);
	width: 40px;
	height: 150px;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-radius: 0 0 5px 5px;
	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 12px 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
}

/* piano keys animation WIP */
section:nth-of-type(3) label:has(input[type=checkbox]:checked) {
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8) inset, 0 12px 5px #00000063 inset, 0 0 3px rgba(0, 0, 0, 0.2);
}


/* styling + positioning display screen */
section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section:nth-of-type(4) div:nth-of-type(1) {
	height: 150px;
	width: 325px;
	background-color: var(--shadow-color);
	position: absolute;
	top: -310px;
}

section:nth-of-type(4) div:nth-of-type(2) {
	position: absolute;
	height: 120px;
	width: 270px;
	background-color: #555;
	position: absolute;
	top: -295px;
}

/* styling + postioning display animation */
section:nth-of-type(5) {
	display: none;
	position: absolute;
	top: 80px;
	height: 100px;
	transform: rotate(180deg);
}

section:nth-of-type(5) > div {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 2px;
	border-radius: 15px;
	background-color: #4b9cdb;
}

section:nth-of-type(5) div:nth-of-type(1) {
	animation: loadingAnimation 1.5s 1s infinite;
}

section:nth-of-type(5) div:nth-of-type(2) {
	animation: loadingAnimation 1.5s 2s infinite;
}

section:nth-of-type(5) div:nth-of-type(3) {
	animation: loadingAnimation 1.5s 1.2s infinite;
}

@keyframes loadingAnimation {
	0% {
		transform: translate(0, 0);
	  }
	  50% {
		transform: translate(0, 15px);
	  }
	  100% {
		transform: translate(0, 0);
	  }
  }

